@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  margin: 0;
  background: grey;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ny {
  background-image: url(img/new-york-min.jpg);
}

.london {
  background-image: url(img/london-min.jpg);
}

.ottawa {
  background-image: url(img/ottawa-min.jpg);
}

.paris {
  background-image: url(img/paris-min.jpg);
}

.berlin {
  background-image: url(img/berlin-min.jpg);
}

.madrid {
  background-image: url(img/madrid-min.jpg);
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  position: relative;
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity .3s ease-in .4s;
}